*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: hsl(0, 0%, 100%);
    background-color: hsl(140, 5%, 10%);
    display: flex;
    flex-direction: column;
}

a {
    color: white;
}

h1 {
    margin: 0;
}

.menu-container {
    border-bottom: 1px solid hsl(0, 0%, 20%);
}

.menu,
.submenu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    display: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 20%);
}

.menu-list-item:not(:first-child) {
    /* display: none; */
}

.visible.menu-list-item {
    display: flex;
}

.menu-list-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid hsl(140, 5%, 10%);
}

.menu-list-item:last-child {
    border-bottom: none;
}

.menu .menu-item-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2em;
    flex: 1;
}

.submenu {
    padding: 1.5em 2em;
    background-color: hsl(0, 0%, 17%);
    border-top: 1px solid hsl(140, 5%, 10%);
    /* display: none; */
}

.submenu-list-item + .submenu-list-item {
    margin-top: 1em;
}

.header,
section,
.footer {
    padding: 1em 1.5em;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1.5em;
    border-bottom: 1px solid hsl(0, 0%, 20%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em;
}

section:first-child {
    margin-top: 6em;
}

section:last-child {
    margin-bottom: 4em;
}

section {
    width: 100%;
    max-width: 500px;
    border: 1px solid hsl(0, 0%, 20%);
    margin-bottom: 2em;
}

.menu-item-container {
    cursor: pointer;
    user-select: none;
}

.menu-item-container:hover {
    background-color: gray;
}

.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid hsl(0, 0%, 20%);
}

@media (min-width: 500px) {
    body {
        flex-direction: row;
    }

    .menu-container .menu-list-item {
        display: flex;
        border-bottom: 1px solid hsl(140, 5%, 10%);
    }

    .menu-item-container {
        column-gap: 6em;
    }

    .menu {
        height: 100%;
        display: flex;
        position: initial;
    }

    .menu li {
        height: initial;
    }

    .header,
    .menu-list-item:first-child,
    .menu-list-item:last-child,
    .footer {
        min-height: 75px;
        flex-basis: 75px;
    }

    .end {
        margin-top: auto;
        border-top: 1px solid hsl(140, 5%, 10%);
    }
}